<section class="login-content">
  <div class="logo">
    <h1>Oauth2 Install</h1>
  </div>
  <div class="login-box login-box-signup">
  <%= form_with(model: @new_user, scope: :user, url: install_step3_path, method: :post, html: { class: 'p-4' }) do |f| %>
      <h3><i class="fa fa-solid fa-user"></i> Create admin user</h3>

      <% if @new_user.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @new_user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

      <div class="form-group">
        <label class="control-label"><%= t('user.username') -%></label>
        <%= f.text_field :username, autofocus: true, placeholder: t('user.username_placeholder'), class: 'form-control' -%>
      </div>
      <div class="form-group">
        <label class="control-label"><%= t('user.email') -%></label>
        <%= f.email_field :email, autocomplete: 'email', placeholder: 'Email', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label"><%= t('user.password') -%>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= t('user.characters_minimum') -%>)</em><br />
          <% end %>
        </label>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label"><%= t('user.password_confirmation') -%></label>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>
      <div class="d-flex form-group btn-container">
        <%= button_tag(type: 'submit', class: 'btn btn-primary flex-fill') do %>
        <i class="fa fa-sign-in fa-lg fa-fw"></i> Next
        <% end %>
      </div>
  <% end %>
  </div>
</section>