<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('.title') -%></h1>
      <p><%= t('.description') -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= duplicate_employees_path -%>"><%= t('ui.duplicate_employees') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-title-w-btn">
          <h3 class="title"><%= t('.duplicate_employee') %></h3>
          <p>
            <%= link_to report_duplicate_employees_path(format: :csv), class: 'btn btn-primary icon-btn' do %>
              <i class="fa fa-trash"></i><%= t('.export_report') %></a>
            <% end %>
          </p>
        </div>
        <div class="tile-body">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>No.</th>
                <th><%= t('user.chinese_name') -%></th>
                <th><%= t('user.clerk_code') -%></th>
                <th><%= t('user.account_counts') -%></th>
                <th><%= t('ui.admin_action') -%></th>
              </tr>
            </thead>
            <tbody>
              <% @profiles.each_with_index do |p, index| %>
                <% du = Profile.includes(:user).where(chinese_name: p.chinese_name, clerk_code: p.clerk_code) %>
                <tr>
                  <td><%= index %></td>
                  <td><%= p.chinese_name %></td>
                  <td><%= p.clerk_code %></td>
                  <td>
                    <% du.each do |d| %>
                      <%= link_to d.user.username, employee_path(d.user) %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to t('ui.merge'), duplicate_employee_path(id: p.clerk_code) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
