<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('ui.duplicate_employees') -%></h1>
      <p><%= t('ui.duplicate_employees_description') -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= duplicate_employees_path -%>"><%= t('ui.duplicate_employees') -%></a></li>
    </ul>
  </div>
  <%= form_with url: duplicate_employee_path(id: @clerk_code), method: 'PUT' do |f| %>
    <div class="row">
      <% @duplicate_users.each do |user| %>
        <div class="col-4">
          <div class="tile">
            <div class="tile-body">
              <address>
                <strong><%= user.profile.chinese_name %></strong><br>
                <a href="mailto:<%= user.email -%>"><%= user.email -%></a>
                <% user.profile&.custom_attributes&.each do |key, value| %>
                  <% next if key == 'chinese_name' %>
                  <p class="card-text m-0"><%= t("user.#{key}") -%>: <%= value -%></p>
                <% end %>
              </address>
              <div class="form-group row">
                <div class="col-9 offset-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="main_user_id" id="merge-user-id-<%= user.id -%>" value="<%= user.id -%>">
                    <label class="form-check-label" for="merge-user-id-<%= user.id -%>"><%= t('ui.keep_user_tips') -%></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <%= f.submit t('ui.merge'), class: 'btn btn-primary w-100' -%>
      </div>
    </div>
  <% end %>
</main>
