<div class="container">
  <div class="row m-3">
    <div class="col">
      <h2><%= t('ui.user_info') -%></h2>

      <p><%= t('user.username') -%>: <%= @user.username -%></p>
      <p><%= t('user.email') -%>: <%= @user.email -%></p>

      <h3><%= t('ui.department') -%></h3>

    </div>
  </div>
</div>
