<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <table id="users-sign-in-histories-datatable" class="table table-hover table-bordered">
        <thead>
          <tr>
            <th width="20%"><%= t('ui.sign_in_at') -%></th>
            <th width="50%"><%= t('ui.user_agent') -%></th>
            <th width="15%"><%= t('ui.sign_in_ip') -%></th>
            <th width="15%"><%= t('ui.sign_in_loc') -%></th>
          </tr>
        </thead>
        <tbody>
          <% user_sign_in_histories.each do |sign_in_history| %>
            <tr>
              <td><%= sign_in_history.sign_in_at -%></td>
              <td><%= sign_in_history.user_agent -%></td>
              <td><%= sign_in_history.sign_in_ip -%></td>
              <td><%= $ipdb.find(sign_in_history.sign_in_ip, "CN")[1] -%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(pagy) %>
    </div>
  </div>
</div>
