<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('ui.employees') -%></h1>
      <p><%= t('ui.employees_description') -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= employees_path -%>"><%= t('ui.employees') -%></a></li>
      <li class="breadcrumb-item"><a href="<%= report_employees_path(format: :csv) -%>"><%= t('ui.employee_report') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table id="users-datatable" class="table table-hover table-bordered" data-source="<%= employees_path(format: :json) -%>">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('user.username') -%></th>
                <th><%= t('user.chinese_name') -%></th>
                <th><%= t('user.clerk_code') -%></th>
                <th><%= t('user.email') -%></th>
                <th><%= t('ui.admin_action') -%></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
