<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('user.show_user') %></h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= edit_employee_path(@user) -%>"><%= t('user.edit_user_access') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link <%= params[:action] == 'show' ? 'active' : '' -%>" href="<%= employee_path(@user) -%>"><%= t('ui.overview') -%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= params[:action] == 'sign_in_histories' ? 'active' : '' -%>" href="<%= sign_in_histories_employee_path(@user) -%>"><%= t('ui.sign_in_histories') -%></a>
            </li>
          </ul>
          <%= render params[:action] %>
        </div>
      </div>
    </div>
  </div>
</main>
