<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <% if current_user.present? %>
    <div class="app-sidebar__user">
      <img class="app-sidebar__user-avatar" src="<%= current_user.gravatarurl -%>" alt="User Image">
      <div>
        <p class="app-sidebar__user-name"><%= current_user.username -%></p>
        <p class="app-sidebar__user-designation"><%= current_user.profile&.title -%></p>
        <small><%= policy(User).system_role_name -%></small>
      </div>
    </div>
  <% end %>
  <ul class="app-menu">
    <li>
      <%= link_to root_path, class: "app-menu__item #{params[:controller] == 'home' && params[:action] == 'index' ? 'active' : ''}" do %>
        <i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label"><%= t('ui.my_application_list') -%></span>
      <% end %>
    </li>
    <% if current_user.present? %>
      <li>
        <%= link_to jwts_path, class: "app-menu__item #{params[:controller] == 'jwts' && params[:action] == 'index' ? 'active' : ''}" do %>
          <i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label"><%= t('ui.my_jwts_list') -%></span>
        <% end %>
      </li>
    <% end %>
  <% if current_user&.admin? %>
    <li class="treeview <%= (params[:controller] == 'doorkeeper/applications') ? 'is-expanded' : '' -%>"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label"><%= t('ui.applications_management') -%></span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li>
          <%= link_to oauth_applications_path, class: "treeview-item #{params[:controller] == 'doorkeeper/applications' && params[:action] == 'index' ? 'active' : ''}" do %>
            <i class="icon fa fa-circle-o"></i> <%= t('ui.applications_list') -%>
          <% end %>
        </li>
        <li>
          <%= link_to new_oauth_application_path, class: "treeview-item #{params[:controller] == 'doorkeeper/applications' && params[:action] == 'new' ? 'active' : ''}" do %>
            <i class="icon fa fa-circle-o"></i> <%= t('doorkeeper.applications.new.title') -%>
          <% end %>
        </li>
      </ul>
    </li>
  <% end -%>
  <% if policy(User).index? %>
    <li class="treeview <%= (['employees','duplicate_employees'].include? params[:controller]) ? 'is-expanded' : '' -%>"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label"><%= t('ui.employees_management') -%></span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li>
          <%= link_to employees_path, class: "treeview-item #{params[:controller] == 'employees' && params[:action] == 'index' ? 'active' : ''}" do %>
            <i class="icon fa fa-circle-o"></i> <%= t('ui.employee_list') -%>
          <% end %>
        </li>
        <li>
          <%= link_to duplicate_employees_path, class: "treeview-item #{params[:controller] == 'duplicate_employees' && params[:action] == 'show' ? 'active' : ''}" do %>
            <i class="icon fa fa-circle-o"></i> <%= t('ui.duplicate_employees') -%>
          <% end %>
        </li>
      </ul>
    </li>
  <% end -%>
  <% if policy(Department).show? %>
    <div id="tree-department" data-url="/departments/data.json"></div>
  <% end -%>
  </ul>
</aside>
