<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('ui.department') -%></h1>
      <p><%= t('ui.department_description') -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= departments_path -%>"><%= t('ui.department') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table id="departments-datatable" class="table table-hover table-bordered" data-source="<%= departments_path(format: :json) -%>">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('department.name') -%></th>
                <th><%= t('department.managed_by_department') -%></th>
                <th><%= t('ui.admin_action') -%></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
