<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> <%= t('ui.system_info') -%></h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-microchip fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= system_info_path -%>"><%= t('ui.system_info') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <h3>HTTP Headers</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Header Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <% request.headers.each do |header_name, header_value| %>
                <tr>
                  <td><code><%= header_name %></code></td>
                  <td><code><%= header_value %></code></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
