<section class="login-content">
  <div class="logo">
    <h2 class="tianhua-font">天华单点登录系统</h2>
  </div>
  <div class="login-box">
    <%= form_with(model: resource, as: resource_name, url: session_path(resource_name),
      id: 'user-sign-in', class: 'login-form', local: false) do |f| %>
        <h3 class="login-head">
          <i class="fa fa-lg fa-fw fa-user"></i><%= t('user.sign_in') -%>
        </h3>
        <div class="form-group">
          <label class="control-label"><%= t('user.samaccountname') -%></label>
          <%= f.text_field :username, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label class="control-label"><%= t('user.password') -%></label>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class="utility">
            <% if devise_mapping.rememberable? -%>
              <div class="animated-checkbox">
                <label>
                  <%= f.check_box :remember_me, checked: true %><span class="label-text"><%= t('user.stay_signed_in') -%></span>
                </label>
              </div>
            <% end -%>
            <p class="semibold-text mb-2"><a href="#" data-toggle="flip"><%= t('user.forgot_password') -%></a></p>
          </div>
        </div>
        <div class="form-group btn-container">
          <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block disabled',
                         disabled: true, id: 'user-sign-in-btn', data: { disable: t('ui.doing_signing')}) do %>
            <i class="fa fa-sign-in fa-lg fa-fw"></i><%= t('user.sign_in') -%>
          <% end %>
          <p class="text-center" id="user-sign-in-hint"><%= t('ui.enable_javascript_to_login') %></p>
        </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'forget-form' }) do |f| %>
        <h3 class="login-head">
          <i class="fa fa-lg fa-fw fa-lock"></i><%= t('user.forgot_password') -%>
        </h3>
        <div class="form-group">
          <label class="control-label"><%= t('user.email') -%></label>
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>
        <div class="form-group btn-container">
          <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block') do %>
            <i class="fa fa-unlock fa-lg fa-fw"></i><%= t('form.reset') -%>
          <% end %>
        </div>
        <div class="form-group mt-3">
          <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> <%= t('user.back_to_login') -%></a></p>
        </div>
    <% end %>
  </div>
</section>
