<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>天华单点登录系统</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app sidebar-mini rtl" data-notice="<%= j notice -%>" data-alert="<%= j alert || devise_error_messages -%>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/sidebar_menu' %>
    <%= yield %>
  </body>
</html>
